html {
    height: 100vh;
}

/************************************************************
    EDIT
************************************************************/

/*
    NOTE
*/

.edit .note {
    padding: 0;
}

/* 
    SECTION
*/

.edit .section {
    width: calc(100% - 16px);
    display: grid;
    margin: 8px;
}

/*
    SECTION ADJUST
*/

.edit .section-adjust {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    height: 100%;
    width: 1px;
    overflow: visible;
    cursor: ew-resize;
    z-index: 1;
}

.edit .section-adjust i {
    background-color: gray;
    padding: 4px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

/* 
    CELL
*/

.edit .cell {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

.edit .cell-data {
    white-space: pre-wrap;
    height: 100% !important;
    width: 100%;
    min-height: 200px;
    padding: 16px;
    word-wrap: break-word;
}

.edit .cell-editor {
    position: absolute;
    min-height: 200px;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    overflow-y: hidden;
    /* overflow-x: scroll; */
}

/************************************************************
    RENDER
************************************************************/

/*
    NOTE
*/

.render .note {
    padding: 0;
}

/* 
    SECTION
*/

.render .section {
    width: calc(100% - 16px);
    display: grid;
    margin: 8px;
}

/* 
    CELL
*/

.render .cell {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

.render .cell-data {
    white-space: pre-wrap;
    height: 100% !important;
    width: 100%;
    padding: 16px;
    word-wrap: break-word;
}

.render .cell-data img {
    width: 100%;
    height: auto;
}