<index:>
    <div class="editor-container">
        <div class="editor-title-bar">
            <input type="text" placeholder="Untitled Note" value="{{ title }}">
            <div class="mode-container">
                <i class="fas fa-code {{ mode === 0 && 'active' }}" on-click="setMode(0)"></i>
                <i class="fas fa-columns {{ mode === 1 && 'active' }}" on-click="setMode(1)"></i>
                <i class="fas fa-align-justify {{ mode === 2 && 'active' }}" on-click="setMode(2)"></i>
            </div>
        </div>
        <div class="split-container" style="grid-template-columns: 1fr {{ mode === 1 && '1fr' }};">
            {{ if mode <= 1 }} <view is="editor:edit-note" note="{{ note }}"/> {{ /if }}
            {{ if mode >= 1 }} <view is="renderer:render-note" note="{{ note }}"/> {{ /if }}
        </div>
    </div>